black
dvc==0.63.*
flake8
flake8-bugbear
flake8-builtins
flake8-debugger
flake8-isort
isort
mypy
overrides
pre-commit
pycld2
pycurl
pytest
python-dateutil==2.7.5
regex==2018.01.10
requests==2.21.0
torch==1.4.0
transformers==2.11.0
